<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Controlador.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resv</servlet-name>
        <servlet-class>Controlador.Resv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingresar</servlet-name>
        <servlet-class>Controlador.Ingresar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarPass</servlet-name>
        <servlet-class>Controlador.CambiarPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MesasDisponibles</servlet-name>
        <servlet-class>Controlador.MesasDisponibles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarDigitalServlet</servlet-name>
        <servlet-class>Controlador.ComprarDigitalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarDigitalServlet2do</servlet-name>
        <servlet-class>Controlador.ComprarDigitalServlet2do</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resv</servlet-name>
        <url-pattern>/Resv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingresar</servlet-name>
        <url-pattern>/Ingresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarPass</servlet-name>
        <url-pattern>/CambiarPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MesasDisponibles</servlet-name>
        <url-pattern>/MesasDisponibles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarDigitalServlet</servlet-name>
        <url-pattern>/carro-comprar-webpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarDigitalServlet2do</servlet-name>
        <url-pattern>/confirmar-ordenes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
